.side-drawer {
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 1px 0 7px rgba(127, 125, 125, 0.1);
    // background: rgb(195, 20, 50);
    // /* fallback for old browsers */
    // background: -webkit-linear-gradient(to left, #240b36, #c31432);
    // /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to left, #240b36, #c31432);
    // /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-150%);
    transition: transform 0.3s ease-out;
    &__menu {
        color: white;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 70px;
        // margin-left: 30px;
    }
    &__menu li {
        margin-bottom: 15px;
        font-size: 1rem;
        padding: 10px 0;
    }
    &__svg {
        width: 20px;
        margin-right: 10px;
    }
    &__social {
        display: flex;
        justify-content: center;
    }
    &__svg--social {
        height: 30px;
        margin: 0 15px;
    }
}

.open {
    transform: translateY(0);
}

.side-drawer li:hover,
.side-drawer li:active,
.side-drawer a:hover,
.side-drawer a:active {
    color: yellow;
}

//tablet
@include tablet {
    .side-drawer {
        &__menu {
            flex-direction: row;
            align-items: center;
        }
        &__menu li {
            margin-top: 100px;
            font-size: 1.1rem;
            padding: 10px 20px;
        }
    }
}