/* ==========================================================================
   mixins for screen sizes
   ========================================================================== */
html,
body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a:link,
a:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: white;
}

.nav-bar {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 300;
  position: fixed;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fffafa;
  background: #c31432;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#240b36), to(#c31432));
  background: linear-gradient(to left, #240b36, #c31432);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-bar__title {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar__menu {
  display: none;
}

.scrolled {
  background: rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .nav-bar__title {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-left: 50px;
  }
  .nav-bar__menu {
    display: inline-block;
  }
  .nav-bar__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto 10px;
  }
  .nav-bar__menu ul li {
    padding: 0 10px;
    font-size: 0.8rem;
    width: 65px;
  }
}

@media (min-width: 1080px) {
  .nav-bar__title {
    margin-left: 70px;
  }
  .nav-bar__menu ul {
    margin-right: 50px;
  }
  .nav-bar__menu ul li {
    padding: 0 30px;
    font-size: 1rem;
    width: 80px;
  }
}

.toggle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30px;
  height: 20px;
  margin: auto 10px;
  position: fixed;
  top: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 20px;
  height: 1.5px;
  background: white;
}

.side-drawer {
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 0 7px rgba(127, 125, 125, 0.1);
          box-shadow: 1px 0 7px rgba(127, 125, 125, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.side-drawer__menu {
  color: white;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

.side-drawer__menu li {
  margin-bottom: 15px;
  font-size: 1rem;
  padding: 10px 0;
}

.side-drawer__svg {
  width: 20px;
  margin-right: 10px;
}

.side-drawer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-drawer__svg--social {
  height: 30px;
  margin: 0 15px;
}

.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.side-drawer li:hover,
.side-drawer li:active,
.side-drawer a:hover,
.side-drawer a:active {
  color: yellow;
}

@media (min-width: 768px) {
  .side-drawer__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .side-drawer__menu li {
    margin-top: 100px;
    font-size: 1.1rem;
    padding: 10px 20px;
  }
}

.main {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c31432;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#240b36), to(#c31432));
  background: linear-gradient(to left, #240b36, #c31432);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.avatar img {
  width: 150px;
  border-radius: 100%;
  border: 1px solid white;
}

.info {
  border-radius: 20px;
  color: white;
  background-color: rgba(159, 157, 157, 0.5);
  margin: 20px 15px;
  padding: 20px;
}

.info__title {
  font-size: 1rem;
}

.info__title hr {
  border: none;
  border-top: 5px dotted white;
  width: 70%;
  margin: 20px auto;
}

.info__title p {
  font-weight: 100;
}

.skillShow {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0;
}

.skillShow img {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.linkedin,
.github {
  width: 60px;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .avatar {
    margin: 30px 0;
  }
  .info__titleWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info__titleWrapper h1 {
    margin: 0 10px;
  }
  .skillShow {
    width: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 50px 0;
  }
  .skillShow img {
    width: 100px;
    height: 100px;
    margin: 30px;
    border-radius: 10px;
  }
  .social {
    display: none;
  }
}

.footer {
  color: #fffafa;
  border-top: 1px dotted rgba(255, 255, 255, 0.4);
  background: #c31432;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#240b36), to(#c31432));
  background: linear-gradient(to left, #240b36, #c31432);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  font-weight: 100;
}

.footer p {
  padding: 10px 0;
  font-size: 0.8rem;
}

.footer__social {
  display: none;
}

.footerContainter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__social {
    width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__social img {
    width: 50px;
  }
}

.aboutMain {
  padding-top: 70px;
  color: white;
}

.aboutDesc {
  width: 90%;
  padding-bottom: 50px;
}

.aboutDesc p {
  margin-top: 20px;
  font-weight: 100;
}

.aboutMain-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .aboutMain {
    height: 100vh;
  }
  .aboutMain-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 50px;
  }
  .aboutMainAvatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 50px;
    font-size: 0.8rem;
  }
  .aboutDesc {
    line-height: 2rem;
    font-size: 1rem;
  }
}

@media (min-width: 1080px) {
  .aboutMainAvatar {
    padding-right: 100px;
  }
  .aboutDesc {
    line-height: 2.5rem;
    font-size: 1.3rem;
  }
}

.projectCard {
  width: 260px;
  background-color: white;
  margin: 20px 20px;
  border-radius: 4px;
}

.projectCard__cover {
  width: 260px;
  height: 200px;
}

.projectCard__cover img {
  border-radius: 4px 4px 0 0;
}

.projectCard__desc {
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  font-size: 0.8rem;
  padding: 10px 20px;
}

.projectCard__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 5px;
}

.projectCard__btn button {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 10px;
  background-color: #11ffee00;
  cursor: pointer;
  outline: none;
}

.projectCard__btn button:hover {
  background-color: black;
  color: white;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 950px;
}

.projectsMain {
  padding-bottom: 50px;
}

.contactMain {
  height: 100vh;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
}

.contact-title {
  margin: 20px 0;
}

.contact-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-card {
  width: 250px;
  height: 80px;
  margin: 20px 20px;
  padding: 10px;
  line-height: 2.5rem;
  border: 1px solid white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-card__emailIcon:before {
  display: inline-block;
  content: url("../assets/icons/envelope.svg");
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.contact-card__phoneIcon:before {
  display: inline-block;
  content: url("../assets/icons/phone-alt.svg");
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.contact-card__weixinIcon:before {
  display: inline-block;
  content: url("../assets/icons/weixin.svg");
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

@media (min-width: 1080px) {
  .contact-card-container {
    margin-top: 100px;
  }
  .avatar {
    margin: 50px 0;
  }
}
/*# sourceMappingURL=main.css.map */